 
    <div class="container">   
        <img
        src="assets/images/layout_set_logo.png"
        alt="Logo do Tribunal Regional do Trabalho da 24ª Região"
        class="logo-trt24"
        loading = "lazy"
        decoding = "async"
        >

        <p>API da transparência</p>

    </div>


<div class="selectButtonConteiner">

    <app-select-mes class="spaceBetween"></app-select-mes>
    <app-select-ano class="spaceBetween"></app-select-ano>
    <app-button-submit-select class="spaceBetween"></app-button-submit-select>

</div>

<!-- <app-table-retorno-api></app-table-retorno-api> -->

<!-- <ng-template [ngIf]="getConsultaEfetuada()">  -->

    <app-table-sort></app-table-sort>

<!-- </ng-template>   -->